$primary-color: #1da1f2;
$background-color: #000;
$text-color: #fff;
$sidebar-bg: #1a1a1a;

.MessageHeader {
    width: 418px;
    padding: 15px;
    outline: 1px solid #222222;
    &__title{
        display: flex;
        margin-bottom: 46px;
        justify-content: space-between;
        align-items: center;
    }
    &__desc{
        color:$text-color;
        font-size: 19px;
        line-height: 24px;
        font-weight: 600;
    }
    &__btn{
        cursor: pointer;
        color: $text-color;
    }
    &__icon{
        padding: 7px;
        width: 20px;
        height: 20px;
        &:hover{
            border-radius: 50%;
            background: #222222;
        }
    }

    &__content{
        padding:0px 17px;
    }
    
    &__heading {
        font-size: 31px;
        line-height: 36px;
        font-weight: 700;
        text-align: left;
        color: $text-color;
    }

    &__comment{
        margin-top: 9px;
        font-size: 15px;
        line-height: 20px;
        color: #71767b;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 30px;
    }
    &__write {
        background-color: $primary-color;
        color: $text-color;
        border: none;
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        padding: 15px 30px;
        border-radius: 9999px;
        cursor: pointer;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}
.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(91,112,131, 0.5);
    z-index: 100; 
    overflow-y: none;
}
.MessageAdd{
    scrollbar-color: #5e5d5d #181818;
    height: 650px;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    z-index: 101;
    color: white;
    min-width: 600px;
    border-radius: 10px;
    &__Heading{
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 29px;
    }
    &__icon{
        width: 20px;
        height: 20px;
        color: #fff;
        padding: 7px;
        cursor: pointer;
        &:hover{
            border-radius: 50%;
            background: #222222;
        }
        &__search{
            width: 20px;
            height: 20px;
            padding: 8px;
            color: #71767b;
        }
        &__Group{
            width: 20px;
            height: 20px;
            padding: 8px;
            color: #1da1f2;
            border-radius: 50%;
            border: 1px solid #222222;
        }
    }
    &__desc{
        font-size: 20px;
        line-height: 24px;
    }
    &__btn{
        padding: 7px 17px;
        margin-left: 294px;
        border-radius: 9999px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 550;
    }
    &__Search{
        padding: 0px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #222222;
    }
    &__add{
        outline: none;
        border: none;
        background: inherit;
        padding: 12px;
        width: 100%;
        color: #fff;
        font-size: 15px;
        line-height: 20px;
    }

    &__Group{
        gap: 12px;
        display: flex;
        align-items: center;
        padding: 12px 16px;
        cursor: pointer;
        color: #1da1f2;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        border-bottom: 1px solid #222222;
        &:hover{
            background: #5050502d;
        }
    }
}

@media (max-width: 1366px) {
    .MessageAdd{
        height: 550px;
    }
}